  <%- include("templates/encabezado.ejs", {titulo: "Inicio"}) %>

  

  <p>Holaa Lobos!!
  Nosotros somos SolUTion app.

  Integrantes: 
  Ferruzca Santos Daniel
  Ibarra Barrón Tania
  Perez Leal Carlos Emiliano
  Reséndiz Ramos Beatriz
  Salinas Gonzalez Regina

  </p>
  <%- include("templates/pie.ejs") %>
