  <%- include("templates/encabezado.ejs", {titulo: "Info"}) %>
  <p>Esta es nuestra plataforma para tomar sus reportes para una mejor estancia en nuestra Universidad.</p>
  <%- include("templates/pie.ejs") %>