<%- include("templates/encabezado.ejs",{titulo:"Respuesta"})%>

<div>Los datos del formulario son: </div>
<div class="alert alert-primary"><%= correo%></div>
<div class="alert alert-success"><%= matricula%></div>


<%- include("templates/pie.ejs")%>